body{
  background-color: #c4fff7;
  font-family: sans-serif;
  font-weight: bold;
}

h1, h2, h3 {
  text-align: center;
}

.newPrint{
  border-top: 2px solid #87ef77;
  border-bottom: 2px solid #87ef77;
  margin-top: 10px;
  height: 100px;
}

.primary {
  background-color: #5ea89e;
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 1em;
  text-decoration: none;
}

.primary:hover {
  background-color: #87ef77;
}
